.body-background
{
 background-image:url("maths.jpg");
}

	.login_div1 , .login_div2
	{
		background: yellow;
		padding: 20px;
		float: none;
		border-radius: 25px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
    color: magenta;
    font-family: monospace;
}
#Number1 , #Number2
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(255, 255, 255);
border-radius: 20px;
border-top: 15px ridge #AA4465;
padding: 25px;
float: none;
text-align: left;
}

label {
font-family: monospace;
color: red;
}
h1 {
color: whitesmoke;
}

body {

	background-image: url("maths2.jpg");

}

#player1_score , #player2_score
{
	color: rgb(113, 72, 209);
}

#player_question , #player_answer
{

	color: springgreen;
}


